@model Notes.BLL.DTOModels.LoggedUser

@{
    ViewBag.Title = "Details";
}
<div>
    <h6>Текущий пользователь</h6>
    <div id="tabs">
        <ul>
            <li><a href="#page1">Основные</a></li>
            <li><a href="#page2">Роли</a></li>
        </ul>
        <div id="page1">
            <table class="table-borderless">
                <tr>
                    <td class="w-25">Id:</td>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Login)</td>
                    <td>@Html.DisplayFor(model => model.Login)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Email)</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Name)</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
            </table>
        </div>
        <div id="page2">
            <table class="table">
                <thead>
                    <tr>
                        <th class="w-25">Название</th>
                        <td>Локализованное название</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var role in Model.Roles)
                    {
                        <tr>
                            <td>@role.RoleName</td>
                            <td>@role.LocalizedRoleName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

</script>
