@using Notes.BLL
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar">
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <ul class="nav nav-tabs">
                        <li class="active nav-link">@Html.ActionLink("Категории","Index","Category")</li> 
                        <li class="nav-link">@Html.ActionLink("Заметки","Index","Note")</li>
                        <li class="nav-link">@Html.ActionLink("Поиск","Index","Search")</li>
                        @if (HttpContext.Current.User.IsInRole(UserPrinciple.ADMIN_ROLE_NAME))
                        {
                            <li class="nav-link">@Html.ActionLink("Пользователи","Index","Users")</li>
                        }
                        else 
                        { 
                        <li class="nav-link disabled">&nbsp;</li>
                        }
                        <li class="nav-link">@Html.ActionLink(System.Web.HttpContext.Current.User.Identity.Name, "Details", "Account")</li>
                    </ul>
                    <span>
                        <input type="button" value="Выйти" onclick="logout();"/>
                    </span>
                 }                
            </div>            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Записная книжка ASP.NET MVC</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
