@using Notes.BLL
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar">
                @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <ul class="nav nav-tabs">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="categoryMenu"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Категории
                            </a>
                           <div class="dropdown-menu" aria-labelledby="categoryMenu">
                               <a class="dropdown-item" href="@Url.Action("Index","Category")">Показать список</a>
                               <a class="dropdown-item" href="javascript:void(0)" onclick="createCategory()">Добавить</a>
                           </div>
                        </li>
                        <li class="nav-link">@Html.ActionLink("Заметки","Index","Note")</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="searchMenu" 
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Поиск
                            </a>
                            <div class="dropdown-menu" aria-labelledby="searchMenu">
                                <a class="dropdown-item" href="javascript:void(0)" onclick="searchByName()">По названию</a>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="searchByCategoryName()">По названию категории</a>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="searchByDate()">По дате события</a>
                            </div>
                        </li>
                        @if (HttpContext.Current.User.IsInRole(UserPrinciple.ADMIN_ROLE_NAME))
                        {
                            <li class="nav-link">@Html.ActionLink("Пользователи","Index","User")</li>
                        }
                        else 
                        { 
                        <li class="nav-link disabled">&nbsp;</li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" 
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @System.Web.HttpContext.Current.User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userMenu">
                                <a class="dropdown-item" href="javascript:void(0)" onclick="showLoggedUser()">Информация</a>
                                <a class="dropdown-item" href="#" onclick="changePassword()">Сменить пароль</a>
                                <a class="dropdown-item" href="#" onclick="logout()">Выйти</a>
                            </div>
                        </li>
                    </ul>
                   <!-- <span>
                        <input type="button" value="Выйти" onclick="logout();"/>
                    </span>-->
                 }                
            </div>            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Записная книжка ASP.NET MVC</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
     $(function () {        
        $(document).ajaxComplete(function () {
            $.validator.unobtrusive.parse(document);
        });
    });
</script>
</body>
</html>
