@model Notes.App.ViewModels.Note.NoteDetailViewModel
@using Notes.App.Helpers
    <div id="tabpanel">
        <ul>
            <li><a href="#page1">Основные</a></li>
            <li><a href="#page2">Ссылки</a></li>
        </ul>
    </div>
    <div id="page1">
        <table class="table-borderless">
            <tr>
                <td class="w-25">@Html.DisplayNameFor(model => model.Category)</td>
                <td>@Html.DisplayFor(model => model.Category)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CreationDate)</td>
                <td>@Html.DisplayFor(model => model.CreationDate)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ActualTill)</td>
                <td>@Html.DisplayFor(model => model.ActualTill)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Title)</td>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.ImageFor(@Model.Image)
                    @Html.DisplayFor(model => model.Description)
                </td>                
            </tr>
        </table>
    </div>
    <div id="page2">
        <ul>
            @foreach (var link in @Model.References)
            {
                <li><a href="/Note/Details/@link.Id" class="details">@link.ReferenceTitle</a></li>
                }
            </ul>
    </div>